backendToraxIA/diagnostics/ia_models/
backendToraxIA/venv/
backendToraxIA/media/

backendBrainIA/resources/ia_models/
backendBrainIA/resonancias/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
.env/
*.env
